*{
    text-align: center;
    
}

.DashBoard{
    padding: 1%;
    width: 95%;
   
}
.stockData{
    
    display: flex;
    justify-content: space-between;
    padding: 1%;
    
}
.followDot{
    margin-left: -26%;
}
.price{
    margin-left: 8%;
}
.stockHeader{
    display: flex;
    padding-right: 10%;
    margin-top: 5%;
    justify-content: space-between;
}

.stockLink{
    /* background-color: rgb(9, 9, 9); */
    border-radius: 20%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 100px;
    margin: .1%;
    padding-top: 1%;
    padding-right: 1%;
}
.stockLink:visited{

    color: rgb(171, 171, 171);
}

.stockP{
    
    width: 100px;
    padding: 1%;
    font-weight: bold;
    margin-right: 5%;
    
}