*{
    text-align: center;
    margin: 0;
}
.stockTraitsContaier{
    
    display: flex;
    flex-direction: row;
    /* margin-left: 27%; */
    justify-content: center;
    margin-top: 2%;

    
}
.followBtn{
    margin-top: 2%;
}
.stockHeader{
    font-size: 2vw;
    font-weight: bold;
}
.stockTrait{
    padding: 1%;
    margin: .5%;
    font-size: 30px;
    
    
}
.stockTraitH{
    
    padding: .2%;
}